@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
html, body, div, span, applet, object, iframe,
h1,
.contenedor main .historia, h2, h3, h4, h5, h6, p, .contenedor main label, .contenedor main figure .capa p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, .contenedor main .imghis, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  position: relative;
  display: flex;
  justify-content: inline;
  flex-wrap: wrap;
  margin: auto;
  display: inline-flexbox; }

.container figure {
  position: relative;
  height: 250px;
  width: 23%;
  margin: 5px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer; }

.container figure img, .container figure .contenedor main .imghis, .contenedor main .container figure .imghis {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-out; }

.container figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 103, 123, 0);
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center; }

.container figure:hover > .capa {
  opacity: 1;
  visibility: visible; }

.container figure:hover > .capa h3 {
  margin-top: 70px;
  margin-bottom: 15px; }

.container figure:hover > img, .container .contenedor main figure:hover > .imghis, .contenedor main .container figure:hover > .imghis {
  transform: scale 1.3; }

.container figure .capa h3 {
  color: #fff;
  font-weight: 400px;
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px; }

.container figure .capa p, .container figure .capa .contenedor main label, .contenedor main .container figure .capa label, .container .contenedor main figure .capa p, .contenedor main .container figure .capa p {
  color: black;
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto; }

.galeria {
  width: 400px;
  height: 300px;
  margin-bottom: 30px;
  object-fit: cover;
  filter: brightness(70%);
  cursor: pointer;
  animation: escalar 1.5s; }

@keyframes escalar {
  to {
    transform: scale(1); }
  from {
    transform: scale(1.05); } }

.galeria :hover {
  filter: brightness(100%); }

.container-fluid {
  display: flex;
  justify-content: center;
  text-align: center; }

@media (max-width: 1200px) {
  #item1 {
    flex-direction: column;
    align-items: center; } }

.form-control {
  display: inline;
  justify-content: center;
  width: 100%; }

body {
  justify-content: center;
  align-items: center;
  background-image: url(https://cdn.pixabay.com/photo/2015/05/09/17/09/towel-759980_960_720.jpg);
  background-size: cover; }

.navbar {
  display: flex;
  justify-content: center; }

.nav-link {
  text-shadow: 0 0 5px;
  text-transform: capitalize;
  justify-content: center; }

.nav-link:hover {
  color: gray; }

.nav-link {
  color: black;
  text-shadow: 0 0 5px;
  text-transform: capitalize;
  justify-content: center; }

.nav-item {
  justify-content: center; }

a {
  text-decoration: solid;
  color: black;
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }


h1,
.contenedor main .historia {
  color: white;
  font-size: 4rem;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center; }

h2 {
  color: black;
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
  justify-content: center;
  margin: 0;
  display: flex;
  padding: 10px; }

caption {
  color: white;
  font-size: 2, 5rem;
  font-family: "Times New Roman", Times, serif; }

iframe {
  margin-top: 25px;
  margin-right: 0px;
  margin-bottom: 25px;
  display: inline-block; }

.history {
  width: 300px;
  height: 200px;
  margin-bottom: 30px;
  object-fit: cover; }

#item1 {
  display: flex;
  justify-content: right; }

.animaciones {
  width: 400px;
  height: 300px;
  margin-bottom: 30px;
  object-fit: cover;
  filter: brightness(70%);
  display: inline-block;
  padding-top: 20px;
  transition: all 0.5s; }

.animaciones:hover {
  transform: rotate3d(0.9); }

h3 {
  color: black;
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center; }

li {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  display: inline;
  justify-content: center;
  margin: 0 25px;
  color: black; }

.img2 {
  display: inline-block;
  justify-content: right; }

.container-fluid {
  display: flex;
  justify-content: center;
  text-align: center; }

.contenedor {
  width: 80%;
  margin: 0 auto;
  overflow: hidden; }
  .contenedor header h2 {
    color: black;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    display: flex;
    justify-content: center; }
  .contenedor header .title {
    color: black;
    font-size: 5rem;
    font-family: "Allura", cursive;
    justify-content: center;
    margin-bottom: 0;
    display: inline;
    margin: auto; }
  .contenedor header .subtitle {
    color: black;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    display: block;
    justify-content: center;
    margin: auto;
    padding: 10px; }
  .contenedor main p, .contenedor main label, .contenedor main figure .capa p {
    color: black;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    margin-top: 25px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 15px;
    justify-content: center;
    display: inline-block; }
  .contenedor main button {
    color: black; }
  .contenedor main h1, .contenedor main .historia {
    color: black;
    font-size: 50px;
    font-family: "Allura", cursive;
    justify-content: center;
    display: flex;
    margin: auto;
    padding: 10px; }
  .contenedor main figure .container-fluid {
    display: flex;
    justify-content: center;
    text-align: center; }
  .contenedor main figure .container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto; }
  .contenedor main figure .container figure {
    position: relative;
    height: 250px;
    width: 23%;
    margin: 5px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer; }
  .contenedor main figure .container figure img, .contenedor main figure .container figure .imghis {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out; }
  .contenedor main figure .container figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 103, 123, 0);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center; }
  .contenedor main figure .container figure:hover > .capa {
    opacity: 1;
    visibility: visible; }
  .contenedor main figure .container figure:hover > .capa h3 {
    margin-top: 70px;
    margin-bottom: 15px; }
  .contenedor main figure .container figure:hover > img, .contenedor main figure .container figure:hover > .imghis {
    transform: scale 1.3; }
  .contenedor main figure .container figure .capa h3 {
    color: #fff;
    font-weight: 400px;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px; }
  .contenedor main figure .container figure .capa label, .contenedor main figure .container figure .capa p {
    color: black;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto; }
  .contenedor main figure img, .contenedor main figure .imghis {
    height: auto;
    width: 100%;
    max-width: 400px; }
  .contenedor main figure .capa h3 {
    color: black;
    font-size: 1.5rem;
    font-family: "Times New Roman", Times, serif;
    display: flex;
    justify-content: center; }
  .contenedor main figure .Promociones {
    color: black;
    font-size: 50px; }
  .contenedor main figure h2 {
    color: black;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    display: flex;
    justify-content: center; }
  .contenedor main .box {
    border: solid;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: inline-block; }
  .contenedor main .imagencentrada {
    text-align: center;
    padding: 20px; }
  .contenedor main .textojustificado {
    width: 49%; }
  .contenedor main p, .contenedor main label, .contenedor main figure .capa p {
    color: black;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    margin-top: 25px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 15px;
    justify-content: center;
    display: inline-block; }
  .contenedor main h3 {
    color: black;
    font-size: 35px;
    font-family: "Allura";
    display: flex;
    justify-content: center;
    margin-bottom: 20px; }

@keyframes escalar {
  to {
    transform: scale(1); }
  from {
    transform: scale(1.05); } }
  .contenedor main .galeria {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    object-fit: cover;
    filter: brightness(70%);
    cursor: pointer;
    animation: escalar 1.5s; }
    .contenedor main .galeria:hover {
      filter: brightness(100%); }
  .contenedor main .animaciones {
    width: 400px;
    height: 300px;
    margin-bottom: 30px;
    object-fit: cover;
    filter: brightness(70%);
    display: inline-block;
    padding-top: 20px;
    transition: all 0.5s; }
    .contenedor main .animaciones:hover {
      transform: rotate3d 0.9; }
